body {
  background-color: #fdfdfd;
  min-height: 100vh;
  color: #212529;
}

.main-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.navbar-footer {
    background-color: #002d5a;
    color: white;
}

.form{
    background-color: white;
}

.btn {
    background-color: white;
    color: #002d5a;
}

@media (min-width: 768px) {
  .main-container {
    padding: 2.5rem;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
